.container {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
}

.side-bar {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.navigation {
    color: #fff;
}

div#doc-guide h1 {
    font-size: 20px;
    color: #fff;
}

#main_content_wrap2 {
    display: flex;
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
